body {
    background-color: #00bcd4;
}
.topBox {
    background-color: #dd2c00;
    width: 200px;
    height: 200px;
    border: solid 10px;
    padding: 20px;
}

.middleBox {
    background-color: #FF5722;
    width: 200px;
    height: 200px;
    border: solid 20px;
    margin-left: 260px;
}

.bottomBox {
    background-color: #b2ebf2;
    width: 200px;
    height: 200px;
    border: solid 10px;
    margin-left: 500px;
}